<%= form_tag sessions_path do %>
  <div>Username: <%= text_field_tag :username %></div>
  <div>Password: <%= password_field_tag :password %></div>
  <div><%= submit_tag "Submit", :class => 'form-button' %></div>
<% end %>
