<div>
  <% @users.each do |user| %>
    <h2><%= user.username %></h2>
      <% user.collections.each do |collection| %>
      <h3><%= collection.title %></h3>
        <% collection.games.each do |game| %>
        <p>   Title: <%= game.title %>   Value: <%= game.value %></p>
        <% end %>
      <% end %>
      <p> ------------------------- </p>
  <% end %>
</div>

