<div>
  <h2><%= owner? ? "Your" : "#{@user.username}'s" %> Games</h2>

  <% @user.games.each do |game| %>

    <h4><%= link_to(game.title, user_game_path(@user, game))%> (<%= game.system %>)</h4>
  <% end %>
</div>
